<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text"
                    name="niche" 
                    id="niche" 
                    value="{{niche}}"
                    class="form-control" 
                    placeholder="Niche">
                    <input type="text" 
                    name="cat_name" 
                    id="cat_name" 
                    value="{{cat_name}}"
                    class="form-control" 
                    placeholder="Category">
                    <input type="number" 
                    name="reach" 
                    id="reach" 
                    value="{{reach}}"
                    class="form-control" 
                    placeholder="Reach">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search Influencer
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>