{% extends 'layout.html' %}

{% block content %}
    <div class="head">
        <h1 class="head m-4 text-center">Application for 
        <span class="text-muted">{{ adreq.Campaign.Name }}'s</span>
        Ad</h1>
    </div>

    <div class="card mx-auto mt-5" style="width: 80%; height: 1000%;">
        <div class="card-body">
            <h1 class="card-title mt-2 text-center">{{ adreq.Messages }}</h1>
            <h6 class="card-subtitle mb-4 text-center text-body-secondary">{{ adreq.Campaign.StartDate }} to {{ adreq.Campaign.EndDate }}</h6>
            <ul style="list-style: none;">
                <li><strong>Requirement:</strong> {{ adreq.Requirements }}</li>
                <li><strong>PaymentAmount:</strong> {{ adreq.PaymentAmount }} INR</li>
                <li><strong>Sponsor:</strong> {{ adreq.Campaign.Sponsor.username }}</li>
            </ul>
            <form action="{{url_for('apply_post')}}", method="post", class="form">
                <div class="form-floating m-3">
                   <input type="hidden" class="form-control disabled" id="floatingInput" name= "adreq_id" value="{{adreq.id}}" placeholder="adreq_id" readonly>
                   <label for="adreq_id"></label>
                </div>
                <div class="form-floating m-3">
                  <textarea class="form-control" placeholder="Leave a comment here" name="description" id="floatingTextarea2" style="height: 100px" required></textarea>
                  <label for="description">Make an appeal to stand out from other Influencers.</label>
                </div>
                <div class="form-floating m-3">
                  <input type="number" class="form-control" id="floatingInput" name= "budget" placeholder="budget" required>
                  <label for="budget">Your Price</label>
                </div>
                <div class="form-floating d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    Apply
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}