{% extends 'layout.html' %}

{% block title %}
    DELETE Account
{% endblock %}

{% block content %}
<div class="delete text-center" style="height: 30vh; auto; padding: 20px; background-color: #f0f0f0; margin:50px; border-radius:10px;">
    
        <h1 class="display-h3 m-3"> Delete Account </h1>
    
        <p>Are you sure you want to delete your account {{influencer.username}} ?</p>
    
        <form action="" method="POST" class="form">
        <div class="form-floating" style=" margin:40px;">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i>
           Delete
        </button>
        </div>
    </form>
</div>

{% endblock %}