<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text"
                    name="cname" 
                    id="cname" 
                    value="{{cname}}"
                    class="form-control" 
                    placeholder="Company">
                    <input type="text" 
                    name="iname" 
                    id="iname" 
                    value="{{iname}}"
                    class="form-control" 
                    placeholder="Industry">
                    <input type="number" 
                    name="price" 
                    id="price" 
                    value="{{price}}"
                    class="form-control" 
                    placeholder="Minimum Budget">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-search"></i>
                        Search Campaign
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
